<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Restaurant Selector</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    </head>
    <body>
        <div style="margin-top: 50px;" class="ui container">
            <h1 class="ui center aligned header">Restaurant Selector</h1>
            <a class="ui button" href="/show_random_restaurant/">Show Random Restaurant</a>
            <p>
            </p>
            <form class="ui form" action="/search" method="post">
                <div class="field">
                    <label>Restaurant Name</label>
                    <input type="text" name="name" placeholder="Search restaurant by name...">
                    <label>Cuisine </label>
                    <select type="text" id="cuisine" name="cuisine">
                    {% for cuisine in cuisine_list %} 
                        <option value="{{cuisine}}">{{cuisine}}</option>
                    {% endfor %}
                    </select>
                    <!-- <label>Take Away</label>
                    <input type="text" name="take_away" placeholder="Is Take away an option?">
                    <label>Indoor seating</label>
                    <input type="text" name="indoor_seating" placeholder="Is indoor seating possible?"> -->

                    <br>
                </div>
                <button class="ui blue button" type="submit">Search</button>
            </form>

            <hr>

            {% for restaurant in restaurant_list %} 
            <div class="ui segment">
                <p class="ui big header"> {{ restaurant.name }}  </p>
                <p>{{ restaurant.address}}</p>
                <p>Cuisine: {{ restaurant.cuisine}}</p>
                <p>Opening Hours {{ restaurant.opening_hours }}</p>


                <a class="ui button" href="/show_restaurant/{{ restaurant.id }}">Details</a>

            </div>
            {% endfor %}

        </div>


    </body>

</html>