<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Restaurant Selector</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    </head>
    <body>
        <div style="margin-top: 50px;" class="ui container">
            <h1 class="ui center aligned header">Restaurant Selector</h1>

            <form class="ui form" action="/add" method="post">
                <div class="field">
                    <label>Restaurant Name</label>
                    <input type="text" name="name" placeholder="Enter Restaurant...">
                    <label>Cuisine </label>
                    <input type="text" name="cuisine" placeholder="Enter cuisine...">
                    <label>Take Away</label>
                    <input type="text" name="take_away" placeholder="Is Take away an option?">
                    <label>Indoor seating</label>
                    <input type="text" name="indoor_seating" placeholder="Is indoor seating possible?">
                    <label>Opening hours</label>
                    <input type="text" name="opening_hours" placeholder="Enter opening hours...">

                    <br>
                </div>
                <button class="ui blue button" type="submit">Add</button>
            </form>

            <hr>

            {% for restaurant in restaurant_list %} 
            <div class="ui segment">
                <p class="ui big header"> {{ restaurant.name }}  </p>
                
                <span>Cuisine: {{ restaurant.cuisine}} | </span>
                <span>Opening Hours {{ restaurant.opening_hours }}| </span>
                <span>Take away: {{ restaurant.take_away}} | </span>



                <a class="ui button" href="/delete/{{ restaurant.id }}">Delete</a>

            </div>
            {% endfor %}

        </div>


    </body>

</html>