<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Restaurant Selector</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    </head>
    <body>
        <div style="margin-top: 50px;" class="ui container">
            <!-- <h1 class="ui center aligned header">Restaurant Selector</h1> -->
            <a class="ui button" href="/">Home</a>
        <p>

        </p>  
        <a class="ui button" href="/show_random_restaurant/">Show Another Restaurant</a>
            <p>
            </p>
                <div class="field">
                    <h3 class="ui header">Restaurant Name</h3>
                    <h4 class="ui header">{{restaurant.name}}</h4>
                    <p>{{restaurant.address}}</p>
                    <p>{{restaurant.phone}}</p>

                    <h3 class="ui header">Cuisine </h3>
                    <p>{{restaurant.cuisine}}</p>

                    <h3 class="ui header">Take Away</h3>
                    <p>{{restaurant.take_away}}</p>

                    <h3 class="ui header">Indoor seating</h3>
                    <p>{{restaurant.indoor_seating}}</p>
                    <h3 class="ui header">Payment</h3>
                    <p>Visa: {{restaurant.payment_visa}}</p>

                    <p>Mastercard: {{restaurant.payment_mastercard}}</p>

                    <h3 class="ui header">Opening hours</h3>
                    <p>{{restaurant.opening_hours}}</p>

                    <br>
                </div>


            <hr>

        </div>


    </body>

</html>